.login-form {
    max-width: 300px;
    margin:auto;
    margin-top:40px
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.ant-checkbox-wrapper{
    position:absolute
}